{
  "auth": {
    "plugins": {
      "awsCognitoAuthPlugin": {
        "IdentityManager": {
          "Default": {}
        },
        "CredentialsProvider": {
          "CognitoIdentity": {
            "Default": {
              "PoolId": "us-east-1:REPLACE_WITH_IDENTITY_POOL_ID",
              "Region": "us-east-1"
            }
          }
        },
        "CognitoIdentity": {
          "Default": {
            "PoolId": "us-east-1:REPLACE_WITH_IDENTITY_POOL_ID",
            "Region": "us-east-1"
          }
        }
      }
    }
  }
}
