APP_VERSION_NAME=""
BIOMETRICS_ENABLED=""
CHAT_ACTIVITY_EXPIRES_IN_SECONDS=""
CHAT_IMAGE_MAX_SIZE=""
CHAT_IMAGE_QUALITY_PERCENT=""
CHAT_PRESENCE_SEND_INTERVAL_IN_SECONDS=""
DATABASE_LOGGING_ENABLED=""
DEFAULT_MEDIATOR_DID=""
DEFAULT_MEDIATORS=""
FIREBASE_MESSAGING_SENDER_ID=""
FIREBASE_PROJECT_ID=""
FIREBASE_STORAGE_BUCKET=""
FIREBASE_IOS_APIKEY=""
FIREBASE_IOS_APP_ID=""
FIREBASE_IOS_BUNDLE_ID=""
FIREBASE_ANDROID_APIKEY=""
FIREBASE_ANDROID_APP_ID=""
FOREGROUND_NOTIFICATIONS_ENABLED=""
MARKETPLACE_QR_PREFIX=""
PROFILE_IMAGE_MAX_SIZE=""
PROFILE_IMAGE_QUALITY_PERCENT=""
CONTROL_PLANE_DID=""
TAPS_TO_UNLOCK_DEBUG=""